extends layout

block content
  h1 Index
  table
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
    tr 1
      td a
      td b
      td c
    tr 2
      td d
      td e
      td f
    tr 3
      td g
      td h
      td i
