doctype html5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/skel-noscript.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/style-desktop.css')
  body.homepage
    div(id="logo")
      a(href="#")
      form(name="login" action="#" method="post" class="login")
        input(type="password" name="password" placeholder="Password")
        input(type="text" name="username" placeholder="Username")
        input(type="submit" value="submit" class="hidden")

    div(id="header")
      div(id="nav-wrapper")
        nav(id="nav")
          ul
            if(currentURL == "/index/")
              li(class="active")
                a(href="/index/") Home
            else
              li
                a(href="/index") Home

            if(currentURL == "/about/team/" || currentURL == "/about/careers/")
              li(class="active")
                a(href="/about/team/") About Us
            else
              li
                a(href="/about/team") About Us

            if(currentURL == "/studio/vipstudios/" || currentURL == "/studio/vvipstudios/" || currentURL == "/studio/galery/" || currentURL == "/studio/bikefitment/")
              li(class="active")
                a(href="/studio/vipstudios") Studio
            else
              li
                a(href="/studio/vipstudios") Studio

            if(currentURL == "/classes/bookings/" || currentURL == "/classes/cancellations/" || currentURL == "/classes/faq/" || currentURL == "/classes/giftcards/" || currentURL == "/classes/instructors/" || currentURL == "/classes/packages/" || currentURL == "/classes/refferals/")
              li(class="active")
                a(href="/classes/bookings") Classes
            else
              li
                a(href="/classes/bookings") Classes

            if(currentURL == "/news/")
              li(class = "active")
                a(href="/news/") News
            else
              li
                a(href="/news/") News

            if(currentURL == "/contact/")
              li(class="active")
                a(href="/contact/") Contact Us
            else
              li
                a(href="/contact/") Contact Us
      div(class="container")

  block content

  div(id="footer")
    div(class="container")
      section
        header
          h2 Get in touch
        ul(class="contact")
          li
            a(href="#" class="fa fa-twitter-square")
              span Twitter
          li
            a(href="#" class="fa fa-facebook-square")
              span Facebook
          li
            a(href="#" class="fa fa-linkedin-square")
              span LinkedIn
          li
            a(href="#" class="fa fa-envelope")
              span Email
  div(id="copyright")
    div(class="container")
      a(href="#") blah blah copyright info
