extends layout

block content
  h1 Studio
    nav(id="nav")
      ul(class="submenu")
        li
          a(href="/studio/vipstudios/") VIP Studios
        li
          a(href="/studio/vvipstudios/") VVIP Studios
        li
          a(href="/studio/galery/") Galery
        li
          a(href="/studio/bikefitment/") ErgoFit Bike Fitment
