extends ..\layout

block content
  nav(id="nav")
    ul(class="submenu")
      if(currentURL == "/about/team/")
        li(class="active")
          a(href="/about/team/") Team
      else
        li
          a(href="/about/team/") Team

      if(currentURL == "/about/careers/")
        li(class="active")
          a(href="/about/careers/") Careers
      else
        li
          a(href="/about/careers/") Careers

  div(id="featured")
    div(class="container")
      header
        h2 Carreers
