extends ..\layout

block content
  h1 Classes
    nav(id="nav")
      ul(class="submenu")
        li
          a(href="/classes/bookings/") Bookings
        li
          a(href="/classes/packages/") Packages
        li
          a(href="/classes/faq/") FAQS
        li
          a(href="/classes/refferals/") Refferal Rewards
        li
          a(href="/classes/giftcards/") Gift Cards
        li
          a(href="/classes/cancellationlate/") Cancellation / Late Policy
        li
          a(href="/classes/instructors/") Instructors
