extends ..\layout

block content
    nav(id="nav")
      ul(class="submenu")
        if(currentURL == "/classes/bookings/")
          li(class="active")
            a(href="/classes/bookings") Bookings
        else
          li
            a(href="/classes/bookings") Bookings

        if(currentURL == "/classes/packages/")
          li(class="active")
            a(href="/classes/packages") Packages
        else
          li
            a(href="/classes/packages") Packages

        if(currentURL == "/classes/faq/")
          li(class="active")
            a(href="/classes/faq") FAQS
        else
          li
            a(href="/classes/faq") FAQS

        if(currentURL == "/classes/refferals/")
          li(class="active")
            a(href="/classes/refferals") Refferal Rewards
        else
          li
            a(href="/classes/refferals") Refferal Rewards

        if(currentURL == "/classes/giftcards/")
          li(class="active")
            a(href="/classes/giftcards") Gift Cards
        li
          a(href="/classes/giftcards") Gift Cards

        if(currentURL == "/classes/cancellations/")
          li(class="active")
            a(href="/classes/cancellations") Cancellation / Late Policy
        else
            li
              a(href="/classes/cancellations") Cancellation / Late Policy

        if(currentURL == "/classes/instructors/")
          li(class="active")
            a(href="/classes/instructors") Instructors
        else
          li
            a(href="/classes/instructors") Instructors

    div(id="featured")
      div(class="container")
        header
          h2 Instructors
