extends ..\layout

block content
    nav(id="nav")
      ul(class="submenu")
        if(currentURL == "/studio/vipstudios/")
          li(class="active")
            a(href="/studio/vipstudios/") VIP Studios
        else
          li
            a(href="/studio/vipstudios/") VIP Studios

        if(currentURL == "/studio/vvipstudios/")
          li(class="active")
            a(href="/studio/vvipstudios/") VVIP Studios
        else
          li
            a(href="/studio/vvipstudios/") VVIP Studios

        if(currentURL == "/studio/galery/")
          li(class="active")
            a(href="/studio/galery/") Galery
        else
          li
            a(href="/studio/galery/") Galery

        if(currentURL == "/studio/bikefitment/")
          li(class="active")
            a(href="/studio/bikefitment/") ErgoFit Bike Fitment
        else
          li
            a(href="/studio/bikefitment/") ErgoFit Bike Fitment
    div(id="featured")
      div(class="container")
        header
          h2 Galery
